@font-face {
  font-family: Vazir;
  src: url('./Vazir-FD-WOL.woff') format('woff');
}
@font-face {
  font-family: Vazir-light;
  src: url("./Vazir-Light.ttf") format("truetype");
}
@font-face {
  font-family: Vazir-thin;
  src: url("./Vazir-Thin.ttf") format("truetype");
}
@font-face {
  font-family: Vazir-medium;
  src: url("./Vazir-Medium.ttf") format("truetype");
}
/* @font-face {
  font-family: Vazir-medium;
  src: url("./Vazir-Medium.ttf") format("truetype");
} */
@font-face {
  font-family: Vazir-bold;
  src: url("./Vazir-Bold.ttf") format("truetype");
}
