.App {
  text-align: center;
  direction: rtl;
  background-color: rgb(26, 26, 40);
  font-family: Vazir;
  padding: 2rem 4rem;
}
.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.title {
  font-size: 3rem;
  color: #dddcdc;
  margin: 1rem 0;
}
.text {
  color: #aaa;
  font-size: 1.3rem;
}

@media (max-width: 648px) {
  .App {
    padding: 2rem 1rem;
  }
  .title {
    font-size: 2rem;
  }
  .text {
    font-size: 1rem;
  }
}
